.status__input {
    
  border: none;
  background: inherit;
  position: absolute;
  color: #404040;
  font-weight: normal;
  margin: 0;
  padding: 3px;
  font-size: 16px;
  left: 12px;
  right: 12px;
  width: 90%;
}

